@import '~bootstrap/scss/bootstrap.scss';

.recipes {
	margin-top: 15px;

	&__title {
		margin-bottom: 70px;

		@include media-breakpoint-down(md) {
			flex-flow: column;
		}
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
		gap: 10px;
		place-items: center;
		align-items: stretch;
	}

	h3 {
		font-size: 46px;
		font-weight: 600;
	}

	p {
		color: #7F7D7D;
		font-size: 24px;
		font-weight: 300;
	}
}